Laura Muñoz Hernández
A01167496

In [2]:
import pandas as pd
import numpy as np

Scientifics computing libraries in python
- pandas
- numpy
- scipy

Visualization
- matplotlib
- seaborn

Algorithmic libraries
- scikit learn
- statsmodels

In [5]:
data = pd.read_csv('used_car.csv',header=None)

In [6]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,column_a,column_b,column_c,column_d,column_e,column_f,column_g,column_h,column_i,column_j,...,column_q,column_r,column_s,column_t,column_u,column_v,column_w,column_x,column_y,column_z
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
2,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500
3,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.50,...,152,mpfi,2.68,3.47,9.00,154,5000,19,26,16500
4,2,164,audi,gas,std,four,sedan,fwd,front,99.80,...,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950

In [7]:
headers = ['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors','body-style','drive-wheels','engine-location','wheel-base',
'length','width','height','curb-weight','engine-type','num-of-cylinders','engine-size','fuel-system','bore','stroke','compression-ratio','horsepower',
'peak-rpm','city-mpg','highway-mpg','price']

In [9]:
data.columns=headers

In [10]:
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,column_a,column_b,column_c,column_d,column_e,column_f,column_g,column_h,column_i,column_j,...,column_q,column_r,column_s,column_t,column_u,column_v,column_w,column_x,column_y,column_z
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,13495
2,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.60,...,130,mpfi,3.47,2.68,9.00,111,5000,21,27,16500
3,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.50,...,152,mpfi,2.68,3.47,9.00,154,5000,19,26,16500
4,2,164,audi,gas,std,four,sedan,fwd,front,99.80,...,109,mpfi,3.19,3.40,10.00,102,5500,24,30,13950

In [12]:
data.to_csv(r'C:\Users\Laura Muñoz\Desktop\Master\CienciaDeDatos\IBM\autos.csv')

In [14]:
data.describe()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,206,165,206,206,206,206,206,206,206,206,...,206,206,202,202,206,204,204,206,206,202
unique,7,52,23,3,3,4,6,4,3,54,...,45,9,39,37,33,60,24,30,31,187
top,0,161,toyota,gas,std,four,sedan,fwd,front,94.50,...,92,mpfi,3.62,3.40,9.00,68,5500,31,25,8921
freq,67,11,32,185,168,114,96,120,202,21,...,15,94,23,20,46,19,37,28,19,2

In [16]:
data.dtypes

symboling            object
normalized-losses    object
make                 object
fuel-type            object
aspiration           object
num-of-doors         object
body-style           object
drive-wheels         object
engine-location      object
wheel-base           object
length               object
width                object
height               object
curb-weight          object
engine-type          object
num-of-cylinders     object
engine-size          object
fuel-system          object
bore                 object
stroke               object
compression-ratio    object
horsepower           object
peak-rpm             object
city-mpg             object
highway-mpg          object
price                object
dtype: object

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206 entries, 0 to 205
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          206 non-null    object
 1   normalized-losses  165 non-null    object
 2   make               206 non-null    object
 3   fuel-type          206 non-null    object
 4   aspiration         206 non-null    object
 5   num-of-doors       206 non-null    object
 6   body-style         206 non-null    object
 7   drive-wheels       206 non-null    object
 8   engine-location    206 non-null    object
 9   wheel-base         206 non-null    object
 10  length             206 non-null    object
 11  width              206 non-null    object
 12  height             206 non-null    object
 13  curb-weight        206 non-null    object
 14  engine-type        206 non-null    object
 15  num-of-cylinders   206 non-null    object
 16  engine-size        206 non-null    object
 17  fuel-system        206 non-null    object
 18  bore               202 non-null    object
 19  stroke             202 non-null    object
 20  compression-ratio  206 non-null    object
 21  horsepower         204 non-null    object
 22  peak-rpm           204 non-null    object
 23  city-mpg           206 non-null    object
 24  highway-mpg        206 non-null    object
 25  price              202 non-null    object
dtypes: object(26)
memory usage: 42.0+ KB