### Modulo 4 IBM

Dataset obtained from: https://www.kaggle.com/datasets/fedesoriano/stroke-prediction-dataset

#### Importar librerías

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt

#### Exploración de dataset

In [11]:
text = open(r'C:\Users\Laura Muñoz\Desktop\Master\CienciaDeDatos\strokes copy.txt')

In [12]:
text.name

'C:\\Users\\Laura Muñoz\\Desktop\\Master\\CienciaDeDatos\\strokes copy.txt'

In [13]:
text.mode

'r'

In [15]:
contenido = text.read()

In [16]:
type(contenido)

str

In [17]:
text.close()

In [27]:
lines = ["This is line A\n","This is line B\n","This is line C\n"]

with open(r'C:\Users\Laura Muñoz\Desktop\Master\CienciaDeDatos\ejemplo.txt', "w") as Archivo:
    for line in lines:
        Archivo.write(line)

#### Reading with pandas

In [28]:
df = pd.read_csv('strokes.csv')

In [29]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [32]:
b = df.iloc[1,0]
b

51676